@tailwind base; 
@tailwind components; 
@tailwind utilities;

/* gabarito */
@font-face {
  font-family: 'gabarito';
  src: url('https://images.sandboxstud.io/fonts/gabarito/Gabarito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'gabarito';
  src: url('https://images.sandboxstud.io/fonts/gabarito/Gabarito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'gabarito';
  src: url('https://images.sandboxstud.io/fonts/gabarito/Gabarito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'gabarito';
  src: url('https://images.sandboxstud.io/fonts/gabarito/Gabarito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'gabarito';
  src: url('https://images.sandboxstud.io/fonts/gabarito/Gabarito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:normal;
  font-display: swap; 
}
@font-face {
  font-family: 'gabarito';
  src: url('https://images.sandboxstud.io/fonts/gabarito/Gabarito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap; 
}
/* barlow */
@font-face {
  font-family: 'barlow';
  src: url('https://images.sandboxstud.io/fonts/Barlow/Barlow-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'barlow';
  src: url('https://images.sandboxstud.io/fonts/Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'barlow';
  src: url('https://images.sandboxstud.io/fonts/Barlow/Barlow-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap; 
}
@font-face {
  font-family: 'barlow';
  src: url('https://images.sandboxstud.io/fonts/Barlow/Barlow-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'barlow';
  src: url('https://images.sandboxstud.io/fonts/Barlow/Barlow-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'barlow';
  src: url('https://images.sandboxstud.io/fonts/Barlow/Barlow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:normal;
  font-display: swap; 
}
@font-face {
  font-family: 'barlow';
  src: url('https://images.sandboxstud.io/fonts/Barlow/Barlow-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap; 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-fixed bg-custom-black text-white font-primary;
  }
}

html {
  scroll-behavior: smooth;
}
p {
  @apply tracking-wide font-barlow text-grayscale-200 ;
}
h1 {
  @apply text-grayscale-200 text-4xl lg:text-5xl font-barlow !leading-tight;
}
h2 {
  @apply text-grayscale-200 text-3xl md:text-4xl font-primary;
}
h3{
  @apply text-white text-xl font-primary font-normal;
}
.subheading {
  @apply text-grayscale-200 text-base lg:text-xl tracking-wide font-barlow;
}
@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

/*  Layout  */
.vertical-padding {
  @apply py-16 lg:py-24 ;
}
.page-width {
  @apply max-w-[1800px];
}

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-end {
  @apply flex items-end justify-end;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

.left-centered {
  @apply absolute left-1/2 transform -translate-x-1/2;
}
.top-centered {
  @apply absolute top-1/2 transform -translate-y-1/2;
}
.centered {
  @apply left-centered top-centered;
}

/* Animations */
.transition-1500 {
  @apply transition-all duration-[1500ms];
}
.transition-700 {
  @apply transition-all duration-700;
}
.transition-500 {
  @apply transition-all duration-500;
}
.transition-300 {
  @apply transition-all duration-300;
}
.transition-200 {
  @apply transition-all duration-300;
}

/* Custom */
.three-part-border {
  @apply rounded-t-3xl border-t-[8px] md:border-t-[16px] border-x-[8px] md:border-x-[16px] border-sand;
}

.icon-hover {
  @apply z-10 cursor-pointer transition-300 fill-white opacity-100 md:opacity-60 hover:opacity-100;
}
.left-padding {
  @apply lg:pl-16;
}
.left-margin {
  @apply mx-5 md:mx-10 2xl:mx-16 3xl:mx-[5%];
}
.top-margin {
  @apply mt-12 md:mt-20;
}
.input {
  @apply border bg-form-background border-white border-opacity-10 rounded-lg px-3 py-2 focus:border-sand active:border-sand focus:outline-none active:outline-none;
}

.container-bottom-border {
  @apply border-b border-white border-opacity-10;
}
.landing-container {
  @apply container-bottom-border min-h-[95svh] xl:min-h-full xl:h-[100svh] lg:max-h-[1080px] w-full px-5 xl:px-0;
} 
.landing-container-sm {
  @apply container-bottom-border h-full xl:min-h-full xl:h-[100svh] lg:max-h-[1080px] w-full border-b border-white border-opacity-10 px-5 xl:px-0;
}
.landing-container-left {
  @apply container-bottom-border min-h-[95svh] xl:min-h-[100svh] lg:max-h-[1080px] w-full border-b border-white border-opacity-10 pl-5 lg:pl-14 xl:pl-32 2010:pl-0;
}
.page-px {
  @apply px-5 md:px-10 xl:px-16 3xl:px-[5%];
}
.page-pl {
  @apply pl-5 md:pl-10 xl:pl-16 3xl:pl-[5%];
}
.page-py-min {
  @apply pt-24 md:pt-32 xl:pt-32 pb-10 xl:pb-20;
}
.page-py {
  @apply pt-24 md:pt-32 xl:pt-[150px] pb-10 xl:pb-20;
}
.page-pt {
  @apply pt-24 md:pt-32 xl:pt-[150px];
}
.page-my {
  @apply mt-24 xl:mt-32;
}
.border-art {
  border-radius: 21px;
  border: 10px solid #00D5DE;
  background:   lightgray -197.435px -197.979px / 161.924% 173.745% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

.grayscale-image {
  filter: grayscale(100%);
  transition: filter 300ms;
}

/* .grayscale-image:hover {
  filter: grayscale(0%);
} */

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: none;
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none;
}


/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.invisible-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Optional: Ensure the element is scrollable */
.invisible-scrollbar {
  overflow: auto;
}